.hero-section{
    margin: auto;
    width: 1440px;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.17);
    position: relative;
}

.inform{
    padding: 76px 150px;
}

h1{
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;

color: #000000;
margin-bottom: 15px;
}

p{
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #000000;
width: 360px;
}

.last-photo{
  position: absolute;
  top: 42%;
  left: 5px;
  background: none;
  border: none;
}

.next-photo{
    position: absolute;
    top: 42%;
    right: 5px;
    background: none;
    border: none;
}





