@import './variables/variables';
@import './utils/utils';
@import './components/common';
@import './components/hero';
@import './components/header';
@import './components/header-modal-online.scss';
@import './components/header-modal.offline.scss';
@import './components/footer';
@import './components/cards';
@import './components/about-us';
@import './components/our-team';
@import './components/dino.scss';
@import './components/\ black-theme';
@import './components/stone-scissors-paper';
@import './components/ball-in-field';
@import './components/leap-year-or-no';
@import './components/calculate-hour';