<footer class="footer">
<div class="container ">
    <img class="logo-footer" src="/src/images/header-icon/Group 16 (4) (1).svg" alt=""> 
    <h1 class="footer-text">Auto<br>
        Drive</h1>

    <div   class="palka"></div>

    <ul class="list-link">
        <li class="item-link"><a href=""></a>Jobs</li>
        <li class="item-link"><a href=""></a>Contacts</li>
        <li class="item-link"> <a href=""></a>Advertise</li>
    </ul>
    <ul class="footer-link">
  <ul class="svg-link">
   <img class="svg " src="/src/images/footer/facebook-app-symbol 1 (1).svg" alt="">
   <img class="svg svg-faceboock" src="/src/images/footer/instagram 1 (1).svg" alt="">
</ul>
<ul class="svg-link">
    <img class="svg " src="/src/images/footer/twitter 1 (1).svg" alt="">
    <img class="svg svg-faceboock" src="/src/images/footer/telegram (1) 1 (1).svg" alt="">
 </ul>
</ul>
<ul class="list-gmail">
<p class="gmail">autodrive@gmail.com</p>
<p class="gmail phone-footer">+38 096 535 54 03</p>
</ul>
<ul class="Auto">
    <p class="Drive">Copyright 2023 © Auto Drive</p>
    <p class=" Drive Drive-1">Terms and conditions</p>
    <p class=" Drive Drive-2">Privacy policy</p>
</ul>
</div>
</footer>