<header class="header-nav">
   
 <div class="container header-container">


 
    <nav  class="navigation">
        
    
    <ul class="head-list">
       
           
    <li class="list-item"><a class=" link-item" href="">Main</a></li>
    <li class="list-item"><a  class="link"href="">Filters </a></li>
    <li class="list-item"><a class="link"href="">Contacts</a></li>

        
    </ul>
</nav>

<ul class="item-slider">
    <label class="switch">
        <svg class="icon-slider-sun" width="12" height="6">
            <use href="./images/symbol-defs.svg#icon-sun" ></use>
        </svg>
        <input type="checkbox">
       
        <span class="slider round">
            
            
        </span> 
    </label>
</ul>

<ul class="list-button">
    
<button class="button-log-in" type="button">Log in</button>
<button class="button-sing-up" type="button">Sing up</button>
</ul>
</div>
    
        </header>

        