<header class="header-nav">
    <div class="container ">
   <a href="">     
 <svg class="logo" width="100" height="100">
                <use href="./images/symbol-defs.svg#icon-logo" ></use>
            </svg> </a>
        
    <nav  class="navigation">
    <ul class="head-list">
       
           
    <li class="list-item"><a class=" link-item" href="">Main</a></li>
    <li class="list-item"><a  class="link"href="">Filters </a></li>
    <li class="list-item"><a class="link"href="">Contacts</a></li>

        
    </ul>
</nav>

<ul class="item-slider">
    <label class="switch">
        <input type="checkbox">
        <span class="slider round">
            <!-- <svg class="arrow-book-online" width="12" height="6">
                <use href="./images/symbol-defs.svg#icon-sun" ></use>
            </svg> -->
        </span>
    </label>
</ul>

<ul class="list-button">
    
<button class="button-log-in" type="button">Log in</button>
<button class="button-sing-up" type="button">Sing up</button>
</ul>


    </div>
    
        </header>
