<!-- without call -->
<div class="backdrop is-hidden" data-modal>
    <div class="without-call">
        <!-- Form without call -->
        <form class="form js-speaker-form" autocomplete="on">
            <div class="book-without-call">
                <a href="" class="text-book-without-call">Book a test-drive without a call</a>
                <!-- <svg class="arrow-book-online" width="12" height="6">
                    <use href="./images/arrow-book-online.svg" ></use>
                </svg>    -->
            </div>
            <ul class="fields">
                <li class="field name">
                    <label class="label-text" for="name-surname">Name, Surname</label>
                        <input 
                            class="form-field"
                            type="text"
                            name="name-surname"
                            id="name-surname" 
                            placeholder="Enter your name">
                </li>
                <li class="field E-mail">
                    <label class="label-text E-mail" for="E-mail">E-Mail</label>
                        <input 
                            class="form-field"
                            type="E-mail"
                            name="E-mail"
                            id="E-Mail"
                            placeholder="Enter your E-Mail" >
            </ul>
                <button type="submit" class="without-call-btn">Submit</button>
            <div class="close-without-call">
                
                <p class="close-text-without-call" data-modal-close>Close current window</p>
            </div>
        </form>
    </div>
</div>