<!-- without call -->
<div class="backdrop-modal-offline hidden" data>
    <div class="without-call">
        <!-- Form without call -->
        <form class="form-offline js-speaker-form" autocomplete="on">
            <div class="book-without-call">
                <a href="" class="text-book-without-call">Book a test-drive without a call</a>
                <svg width="6" height="16" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 13L7 7L1 1" stroke="black"/>
                </svg>     
            </div>
            <ul class="fields">
                <li class="field name">
                    <label class="label-text" for="name-surname">Name, Surname</label>
                        <input 
                            class="form-field"
                            type="text"
                            name="name-surname"
                            id="name-surname" 
                            placeholder="Enter your name">
                </li>
                <li class="field E-mail">
                    <label class="label-text E-mail" for="E-mail">E-Mail</label>
                        <input 
                            class="form-field"
                            type="E-mail"
                            name="E-mail"
                            id="E-Mail"
                            placeholder="Enter your E-Mail" >
            </ul>
                <button type="submit" class="without-call-btn">Submit</button>
            <button data-close>
                <svg class="arrow-close-without-call" width="7" height="6" viewBox="0 0 7 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.12126 4.94975L0.999942 2.82843M0.999942 2.82843L3.12126 0.707113M0.999942 2.82843H6.6568" stroke="black" stroke-width="0.5"/>
                </svg>
                <p class="close-text-without-call" >Close current window</p>
            </button>
        </form>
    </div>
</div>