<header class="header-nav">   
 <div class="container header-container">

    <img class="logo" src="/src/images/header-icon/Group 16 (4) (1).svg" alt="">

    <nav  class="navigation">    
        <ul class="head-list">           
        <li class="list-item"><a class=" link-item" href="">Main</a></li>
        <li class="list-item"><a  class="link"href="">Filters </a></li>
        <li class="list-item"><a class="link"href="">Contacts</a></li>   
        </ul>
    </nav>

<ul class="item-slider">
    <label class="switch">
        
        <input class="js-switch" type="checkbox">
       
        <span class="slider round">
        
            
        </span> 
    </label>
</ul>

<ul class="list-button">
    
<button class="button-log-in" type="button"data-modal-open>Log in</button>
<button class="button-sing-up" type="button"data-open>Sing up</button>
</ul>

</div>
    
        </header>
