<!-- Online -->
<div class="backdrop is-hidden" data-modal>
    <div class="online">
        <!-- Form online -->
        <form class="form js-speaker-form" autocomplete="on">
            <div class="book-online">
                <a href="" class="text-book-online">Book a test-drive online</a>
                <!-- <svg class="arrow-book-online" width="12" height="6">
                    <use href="./images/arrow-book-online.svg" ></use>
                </svg>    -->
            </div>
            <ul class="fields">
                <li class="field name">
                    <label class="label-text" for="name-surname">Name, Surname</label>
                        <input 
                            class="form-field"
                            type="text"
                            name="name-surname"
                            id="name-surname" 
                            placeholder="Enter your name">
                </li>
                <li class="field phone-number">
                    <label class="label-text phone-number" for="phone-number">Phone Number</label>
                        <input 
                            class="form-field"
                            type="phone-number"
                            name="phone-number"
                            id="phone-number"
                            placeholder="Enter your phone number" >
            </ul>
                <button type="submit" class="online-btn">Submit</button>
            <div class="close">
                
                <p class="close-text" data-modal-close>Close current window</p>
            </div>
        </form>
    </div>
</div>