<header class="header-nav">
    <div class="container">
    <nav  class="navigation">
    <ul class="head-list">
       
           
    <li class="list-item"><a class=" link-item" href="">Main</a></li>
    <li class="list-item"><a  class="link"href="">Filters </a></li>
    <li class="list-item"><a class="link"href="">Contacts</a></li>

        
    </ul>
</nav>

<label class="switch">
    <input type="checkbox">
    <span class="slider round"></span>
  </label>
    </div>
    
        </header>