<section class="hero-section section">
  <div class="container">
    <div class="inform">
      <h1 class="description-car">Honda Civic</h1>
      <p class="description">Honda Civic has advantages for interior space, driving dynamics, an upscale cabin, and more safety features.</p>
    </div>
    <button class="last-photo">
    <svg width="70" height="70" viewBox="0 0 56 105" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52.4975 2.99996L3.00005 52.4974L52.4975 101.995" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/></svg>
  </button>
  <button class="next-photo">
    <svg width="70" height="70" viewBox="0 0 56 105" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.49747 2.99996L52.9949 52.4974L3.49747 101.995" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"/></svg>
  </button>
  <button class="test-drive" type="button">Book a test-drive</button>
  </div>
</section>
<script src="./js/hero.js" type="module"></script>
 
