<section class="our-team">
    <div class="container">
        <h1 class="title">Our team</h1>

        <ul class="cards">
        </ul>
    </div>
</section>

<script>
    const people  = [
        {
            bg: 'grey',
            name: 'Микола',
            phone: 'Gmail: koliunia2006@gmail.com',
            email: 'GitHub: https://github.com/MukolaSa',
            tasks: 'Гравець керує піксельним динозавром, що біжить ландшафтом, уникаючи перешкод'
        },
        {
            bg: 'grey',
            name: 'Олег',
            phone: 'Gmail: olehtsap07@gmail.com',
            email: 'GitHub: https://github.com/HECKONCHIK',
            tasks: 'На цьому проекті моє завдання заключалося в тому, щоб створити калькулятор, який будк вичисляти годину, тобто ти вводиш кількість хвилин, а виводиться кількість годин'
        },
        {
            bg: 'grey',
            name: 'Софія',
            phone: 'Gmail: melnichenko.cofia07@gmail.com',
            email: 'GitHub: https://github.com/Yorabest',
            tasks: ''
        },
        {
            bg: 'grey',
            name: 'Саша',
            phone: 'Gmail: alexsawranskiy989@gmail.com',
            email: 'GitHub: https://github.com/AlexSawranskiy',
            tasks: ''
        },
        {
            bg: 'grey',
            name: 'Вероніка',
            phone: 'Gmail: vnpotomko@gmail.com',
            email: 'GitHub: https://github.com/Potyomko',
            tasks: 'Привіт-привіт, я Вероніка з м.Вінниця. На цьому проекті я була тімлідом і робила модалки в хедері'
        },
        {
            bg: 'grey',
            name: 'Саша',
            phone: 'Gmail: tarnav1514@gmail.com',
            email: 'GitHub: https://github.com/Olexander1234',
            tasks: 'Зробив Хедер в якому перемикач тем, зробив гру Камінь ножниці папір, зробив футер'
        },
        {
            bg: 'grey',
            name: 'Влад',
            phone: 'Gmail: honcharukvlad@gmail.com',
            email: 'GitHub: https://github.com/Vllaaddd',
            tasks: 'Робив секцію наша команда'
        },
        {
            bg: 'grey',
            name: 'Ілля',
            phone: 'Gmail: ',
            email: 'GitHub: https://github.com/Niky-Niky',
            tasks: ''
        },
        {
            bg: 'grey',
            name: 'Іван',
            phone: 'Gmail: hlibov2007.7@gmail.com',
            email: 'GitHub: https://github.com/Ivanhlibov',
            tasks: 'Всім привіт!! Мене звати Іван, я з міста Київ, у цьому проекті я робив модальне вікно відкриття та закриття і ще закриття по esc'
        },
        {
            bg: 'grey',
            name: 'Лера',
            phone: 'Gmail: yakovlevalera2507@gmail.com',
            email: 'GitHub: https://github.com/yakovlevalera',
            tasks: "Привітик ! Мене звати Лєра, я з м. Запоріжжя, та у цьому проекті я робила задачу в якій користувач повинен відгадати число задане комп'ютером.",
        },
        {
            bg: 'grey',
            name: 'Богдан',
            phone: 'Gmail: bogdanlegenda33@gmail.com',
            email: 'GitHub: https://github.com/bneumitij',
            tasks: '',
        },
        {
            bg: 'grey',
            name: 'Ілля',
            phone: 'Gmail: ilyadep5@gmail.com',
            email: 'GitHub: https://github.com/tinomu85',
            tasks: 'я зробив програму ,яка перевіряє чи попадає число в діапозон від 55 до 99'
        },
        {
            bg: 'grey',
            name: 'Настя',
            phone: 'Gmail: nedyaknast@gmail.com',
            email: 'GitHub: https://github.com/NNASTYA2007',
            tasks: 'я делала крестики нолики'
        },
        {
            bg: 'grey',
            name: 'Артем',
            phone: 'Gmail: artem.dobrovolsky04@gmail.com',
            email: 'GitHub: https://github.com/artdobro',
            tasks: 'я делала крестики ноликиХоч я майже нічого не зробив, але: "Моя робота полягала в створенні футеру та знаходження найбільшого числа з 3 введених"'
        },
    ]

    const front = document.querySelector('.front');
    const cards = document.querySelector('.cards');
    const container = document.querySelector('.container');
    const cardContainer = document.querySelector('.cardContainer');

    function createCard({bg, name, phone, email, tasks}){

        const cardContainerMainEl = document.createElement('div');
        cardContainerMainEl.classList.add('cardContainerMain');

        const cardContainerEl = document.createElement('div');
        cardContainerEl.classList.add('cardContainer');

        const taskEl = document.createElement('div');
        taskEl.classList.add('taskContainer');
        taskEl.textContent = tasks;

        const frontEl = document.createElement('div')
        frontEl.classList.add('front');

        const cardEl =  document.createElement('li')
        cardEl.classList.add('card')

        const bgEl = document.createElement('div');
        bgEl.classList.add('bgEl');
        bgEl.style.backgroundColor = bg;

        const nameEl = document.createElement('h3')
        nameEl.classList.add('name');
        nameEl.textContent = name;

        const phoneEl = document.createElement('p');
        phoneEl.classList.add('phone');
        phoneEl.textContent = phone;

        const emailEl = document.createElement('p');
        emailEl.classList.add('email');
        emailEl.textContent = email;

        
        cardEl.append(bgEl, nameEl, phoneEl, emailEl);

        frontEl.append(cardEl);

        cardContainerEl.append(frontEl, taskEl);

        cardContainerMainEl.append(cardContainerEl);

        cards.append(cardContainerMainEl);
    }

    people.map(createCard);
</script>