.hour-container {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        padding-top: 20px;
}
.enter {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;

    color: #000000;
    background-color: #fff;

    margin-top: 10px;
    padding: 5px 10px;

    border-radius: 10px;
    border: none;
}
.user-number {
    width: 300px;
    height: 30px;

    background: #D9D9D9;

    border: none;
    border-radius: 10px;
}
.text-result {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
   line-height: 30px;

   color: #000000;
}