@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}
.section {
    padding-top: 36px;
    padding-bottom: 36px;
    margin-top: 0px;
    margin-bottom: 0px;

    &-light-title {
        color: $lightPrimeryTextColor;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 36px;
        margin-top: 0px;
    }

    &-dark-title {
        color: $darkPrimeryTextColor;
        font-style: normal;
        font-weight: 500;
        margin-bottom: 36px;
        margin-top: 0px;
    }
}