// Модалки

// Модалка sign-up
.backdrop-modal{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden{
        opacity: 0;
        pointer-events: none;
    }
}
.form-online{
    justify-content: center;
    align-items: center;

    width: 271px;
    height: 300px;

    background: #FFFFFF;
    border-radius: 12px;
}
.online{
    top:50%;
    left: 50%;
    background-color: #ffffff;
    background-size: cover;
    border-radius: 12px;
    position: absolute;
    
   transform: translate(-50%, -50%) scale(1);
   transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-book-online{
    display: inline-block;
    margin: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    line-height: 100%;
    color: #ffffff;
    padding-right: 10px;

    // &::before{
    //     content: "";
    //     background-color: #000000;
    //     width: 481px;
    //     height: 1px;
    //     bottom: 25%;
    //     margin-left: 66px;
    //     transform: translate(-50%, -50%);
    // }
}
.fields{
    padding: 20px;
}
.field-modal{
    color: #000000;
    margin-bottom: 14px;
    margin-left: 20px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.book-online{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 36px;

    width: 271px;
    height: 40px;
    left: 0px;
    top: 0px;

    background: #000000;
    border-radius: 12px 12px 0px 0px;
}
.label-text{
    display: inline-block;
    font-family: 'Quicksand';
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 10px;
}
.form-field{
    width: 201px;
    height: 25px;
    // left: 35px;
    // top: 77px;
    // padding-bottom: 14px;
    background: #D9D9D9;
    border: none;
    border-radius: 12px;
}
.online-btn{
    display: flex;
    padding: 6px 24px;
    margin-right: 80px;
    margin-left: 80px;

    color: #FFFFFF;
    background: #000000;
    border-radius: 12px;
}
.arrow-to-right-online-white{
    width: 12px;
    height: 6px;

    border: 1px solid #FFFFFF;
    transform: rotate(-90deg);

}
.close-btn-online{
    width: 91px;
    height: 10px;
    left: 54px;
    top: 224px;
    margin-left: 45px;
    margin-top: 14px;
}
.black-modal{
    background: #484848;
}