.header-nav{
    background-color: $lightHeaderAndFooterColor;
    position: relative;
  }

.header-container{
  display: flex;
  align-items: center;
}
  .link-item{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: $darkPrimeryTextColor;


  }

  .link{
    font-family: 'Quicksand';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 25px;
color: $darkPrimeryTextColor;
  }

  .head-list{
  display: flex;
 
  }
  .head-list li + li{
    margin-left: 83px;
  }

  
  .navigation{    
    margin-left: 273px;
  }


  .button-log-in{
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
border-radius: 12px ;
width: 96px;
height: 36px;
}

.button-sing-up{
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Quicksand';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
border-radius: 12px;
width: 96px;
height: 36px;
}

.list-button{
  width: 1200px;
  display: flex;
  margin-left: 36px;
}

.list-button button + button{
  margin-left: 30px;
}
.item-slider{
  margin-left: 98px;

}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}


 .slider {
  position: absolute;

  top: 0;
   left: 0;
   right: 0;
   bottom: 0;
  background-color: #7A7A7A;
   -webkit-transition: .3s;
   transition: .3s;

 }



.slider::before {
  position: absolute;
 
  content: "";
  height: 20.5px;
  width: 20px;

  left: 1px;

  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
  background-image: url(/src/images/header-icon/Ellipse\ 8\ \(2\)\ \(1\).svg);
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color:#7A7A7A;
}
.icon-slider.moon{
  position: absolute;
  justify-content: center;
}


input:checked + .slider:before  {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
  background-color: #000000;
  background-image: url(/src/images/header-icon/Ellipse\ 7\ \(2\).svg);
  background-repeat: no-repeat;
  background-position: center;


}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.logo{
  width: inherit;
  fill: $darkPrimeryTextColor;

}


.js-calculate{
  display: none;
}