.hero-section{
    height: 800px;
    background-color: rgba(0, 0, 0, 0.17);
    position: relative;
    margin-top: 16px;
}

.inform{
    top: 76px;
    left: 200px;
    position: absolute;
}

.description-car{
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
margin-bottom: 15px;
color: #000000;
}

.description{
width: 360px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #000000;
}

.last-photo{
    position: absolute;
    top: 42%;
    left: 5px;
    background: none;
    border: none;
}

.next-photo{
    position: absolute;
    top: 42%;
    right: 5px;
    background: none;
    border: none;
}

.image{
    position: absolute;
    width: 100%;
    height: 800px;
    top: 0;
    left: 0;
    bottom: 0;
}

.test-drive{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding: 15px 30px;
    background-color: #fff;
    border-radius: 12px;
    border: none;

    position: absolute;
    top: 76%;
    left: 75%;
}