.hero-section{
    // width: 1440px;
    height: 800px;
   
    background-color: rgba(0, 0, 0, 0.17);
    position: relative;
}

.inform{
    padding: 76px 150px;
}

.description-car{
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
margin-bottom: 15px;
color: #000000;
}

.description{
width: 360px;
font-family: 'Quicksand';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

color: #000000;
}

.last-photo{
    position: absolute;
    top: 42%;
    left: 15px;
    background: none;
    border: none;
}

.next-photo{
    position: absolute;
    top: 42%;
    right: 15px;
    background: none;
    border: none;
}

.image{
    width: 100%;
}