.item {
    display: flex;
    margin-left: 10px;
    text-decoration: none;
    list-style: none;
    background-color: darkmagenta;
    width: 50px;
  height: 50px;
  border-radius: 5px ;
  border: 2px solid #000;


  }
.list{
  display: flex;
  margin-left: 470px;
  margin-top: 10px;
}
  
  .text{
    margin-left: 350px;
    margin-bottom: -20px;
  }
  .text-1{
    margin-left: 680px;
    margin-top: -10px
  }

  .color-lose{
    background-color: #f44336;


  }

  .color-win{
    background-color: #4caf50;
  }

div#\37{
  height: 250px;
}

.image-item {
  margin-left: 540px;
  margin-top: 15px;
}